<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="md_cr" frontName="md_cr">
            <module name="MageDigest_CustomerReview" before="Magento_Backend" />
        </route>
    </router>
</config>
